.wrapper {
  display: flex;
  gap: 24px;
  margin-top: 24px;
}

.box {
  flex: 1;
  padding: 20px;
  background: var(--color-white);
  border-radius: var(--border-radius-base);
  border: 1px solid var(--border-color);
  box-shadow: var(--shadow-lg);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  font-size: 14px;
  color: var(--text-secondary);
}

.value {
  font-size: 28px;
  font-weight: 700;
  color: #0fa870;
}

.valueNegative {
  font-size: 28px;
  font-weight: 700;
  color: #d9534f;
}
