:root {
  /* color variables */
  --color-primary: #ff8a3d;
  --color-secondary: #ff5f2e;
  --color-white: #ffffff;
  --text-primary: #222222;
  --text-secondary: #575757;

  /* bg color variables */
  --bg-primary: #f9f9fb;
  --bg-secondary: #222222;

  /* border radius variables */
  --border-radius-base: 5px;
  --border-radius-lg: 18px;

  /* box shadow */
  --shadow-lg: 0 4px 12px rgba(0, 0, 0, 0.15);
}
