:root {
  --layout-width: 1400px;
  --sidebar-width: 80px;
  --layout-gutter: 32px;

  /* color variables */
  --color-primary: #22c55e;
  --color-secondary: #039c3b;
  --color-accent: #3b82f6;
  --color-white: #ffffff;
  --text-primary: #1e1e1e;
  --text-secondary: #575757;

  --border-color: #e5e7eb;

  /* bg color variables */
  --bg-primary: #f9f9fb;
  --bg-secondary: #212121;

  --bg-gradient: linear-gradient(90deg, #22c55e, #039c3b);

  /* border radius variables */
  --border-radius-base: 5px;
  --border-radius-lg: 18px;

  /* box shadow */
  --shadow-lg: 0 4px 12px rgba(0, 0, 0, 0.15);
  --shadow-sm: 0 2px 8px rgba(0, 0, 0, 0.04);
}
