.contentWrapper {
  margin-left: var(--sidebar-width);
  padding: 32px;
}

.innerContainer {
  max-width: 1400px;
  margin: 0 auto;
}

@media (max-width: 680px) {
  .contentWrapper {
    padding: 16px;
  }
}
