.mainContainer {
  padding: 0; /* padding jest w contentWrapper */
  display: grid;
  grid-template-columns: minmax(580px, 2fr) minmax(340px, 1fr);
  gap: 32px;
}

@media (max-width: 1024px) {
  .mainContainer {
    margin: 0 auto;
    width: calc(100% - 64px);
    padding: 16px;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .mainContainer {
    margin-left: 0;
    width: 100%;
    padding: 16px;
    gap: 24px;
  }
}
