.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 64px 20px;
  height: auto;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sectionTitle {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: #383838;
}

.totalSpent {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: var(--text-secondary);
}

.categories ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 0;
  margin: 0;
}

.categories li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  color: var(--text-primary);
}

.left {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-primary);
}

.categories i {
  font-size: 22px;
}

.food {
  color: #21ad77;
}

.shopping {
  color: #ff6b3d;
}

.education {
  color: #b57bff;
}

.transport {
  color: #d43a35;
}

.entertainment {
  color: #9932c9;
}

.income {
  color: #ffb800;
}

.chartWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.amount {
  font-weight: 600;
  font-size: 15px;
  color: var(--text-primary);
}

.amount.positive {
  color: #0fa870;
}

.amount.negative {
  color: #c33;
}
