.expenseCategories {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 64px 20px;
  height: auto;
  background: var(--color-white);
  border-radius: var(--border-radius-base);
  box-shadow: var(--shadow-lg);
}

.sectionTitle {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: #383838;
}

.categories ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 0;
  margin: 0;
}

.categories li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  color: var(--text-primary);
}

.left {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-primary);
}

.categories i {
  font-size: 22px;
}

.food {
  color: #21ad77;
}

.shopping {
  color: #ff6b3d;
}

.education {
  color: #b57bff;
}

.transport {
  color: #d43a35;
}

.entertainment {
  color: #9932c9;
}

.amount {
  font-weight: 600;
  font-size: 15px;
  color: var(--text-primary);
}
