.chartContainer {
  position: relative;
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg {
  transform: rotate(-90deg);
}

.bg {
  fill: none;
  stroke: #eee;
  opacity: 0.5;
}

.progress {
  fill: none;
  stroke: #a355ff;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.6s ease;
}

.centerText {
  position: absolute;
  text-align: center;
}

.centerText h2 {
  margin: 0;
  font-size: 28px;
  font-weight: 700;
}

.centerText p {
  margin: 4px 0;
  font-size: 14px;
  color: #999;
}

.centerText span {
  font-size: 13px;
  color: #aaa;
}
