.container {
  padding: 2rem;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container h1 {
  margin-top: 0;
  color: #2c3e50;
}

.container p {
  color: #7f8c8d;
}

.dashboardGrid {
  display: contents;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.right {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
