.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  bottom: 1;
  margin-top: auto;
  padding: 12px;
  font-size: 0.8rem;
  color: var(--text-primary);
  text-align: center;
}

.footer a {
  color: var(--text-secondary);
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
