.button {
  display: flex;
  padding: 8px 28px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 22px;
  transition: all 0.3s ease-in-out;
  border: 1px solid var(--border-color);
  cursor: pointer;
  outline: none;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 27px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  color: var(--text-primary);
}

.primary {
  background: var(--bg-gradient);
  color: var(--text-on-primary);
}

.secondary {
  background: var(--bg-secondary);
  color: var(--text-on-primary);
}

.primary:hover,
.secondary:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

/* ICON */

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
}

.icon svg {
  display: block;
  width: 24px;
  height: 24px;
}

/* RESPONSIVE */

@media (max-width: 680px) {
  .button {
    padding: 10px 20px;
    gap: 8px;
    font-size: 0.8rem;
    border-radius: 18px;
  }

  .icon svg {
    width: 18px;
    height: 18px;
  }
}

@media (max-width: 480px) {
  .button {
    padding: 8px 16px;
    font-size: 0.75rem;
  }

  .icon svg {
    width: 16px;
    height: 16px;
  }
}
