.dashboard {
  padding: 32px;
  margin-left: 80px;
  width: calc(100% - 80px);
  display: flex;
  justify-content: center;
}

.dashboardInner {
  width: 100%;
  max-width: 1400px;
  display: grid;
  grid-template-columns: minmax(580px, 2fr) minmax(360px, 1fr);
  gap: 32px;
  align-items: start;
}

@media (max-width: 1100px) {
  .dashboard {
    margin: 0 auto;
    width: calc(100% - 64px);
    padding: 16px;
  }

  .dashboardInner {
    grid-template-columns: 1fr;
    max-width: none;
  }
}

@media (max-width: 768px) {
  .dashboard {
    width: 100%;
    margin-left: 0;
  }
}
